.md-btn {
  border-radius: 3px;
  display: inline-block;
}

.md-btn--style01 {
  background-color: $base-pu;
  font-size: 0;
  padding: 1.2rem 3.2rem;
}

.md-btn--style02 {
  background-color: $base-pu;
  font-size: 0;
  padding: 2rem 5.4rem;
}

.md-btn--style03 {
  background-color: #230071;
  font-size: 0;
  padding: 1rem 2.6rem;
}

.btn--color01 {
  background-color: #fcfaff;

  .md-btn-name {
    color: $base-bl;
  }
}

.btn--color02 {
  background-color: #d0d0d0;
}

.btn--color03 {
  background-color: #9c00bf;
}

.md-btn-square {
  border-radius: 3px;
  display: inline-block;
  height: 4rem;
  vertical-align: middle;
  width: 4rem;
}

.md-btn-plus {
  background-color: $base-wh;
  border: 1px solid #905dff;

  &::before {
    background-image: url('../images/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 1.9rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.9rem;
  }
}

.md-btn-minus {
  background-color: $base-wh;
  border: 1px solid #a6b1c9;

  &::before {
    background-image: url('../images/minus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 1.9rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.9rem;
  }
}

.md-btn--styleGoogle {
  background-color: #f2f2f2;
  padding: 1rem 2.4rem;

  .md-btn-name {
    color: #db4437;
  }
}
