.md-form-group {
  font-size: 0;
  margin: 3rem 0 0;
  width: 100%;

  &:nth-of-type(1) {
    margin: 0;
  }

  &:nth-last-of-type(1) {
    margin: 4rem 0 0;
  }
}

.md-form-input {
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  height: 4rem;
  padding: 0.8rem 1.2rem;
  text-align: left;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:-moz-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &::-moz-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:-ms-input-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:focus {
    box-shadow: 0 0 0 1.5px #6c8dad;
    outline: none;
    transition: 0.3s;
  }
}

.md-form-group--pw {
  position: relative;

  .check-pw {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.8rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
  }
}

textarea {
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  height: 10rem;
  padding: 0.8rem 1.2rem;
  text-align: left;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:-moz-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &::-moz-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:-ms-input-placeholder {
    color: #d1d1d1;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  &:focus {
    box-shadow: 0 0 0 1.5px #6c8dad;
    outline: none;
    transition: 0.3s;
  }
}
