.md-header {
  width: 100%;
}

.isLogined {
  background-color: #f6f4ff;
}

.md-section-header {
  background-color: #53519e;
}

.md-section-header--color01 {
  background-color: #279fad;
}

.md-section-header--color02 {
  background-color: #09883f;
}

.md-section-header-inner {
  align-items: center;
}

.md-section-header--leftPanel,
.md-section-header--rightPanel {
  flex: 1;

  .main-desc {
    color: $base-wh;
    margin: 3rem 0 0;
    text-align: left;
  }
}

.user-img {
  border-radius: 3px;
  cursor: pointer;
  height: 4.5rem;
  max-width: 100%;
  width: 4.5rem;
}

.md-header-nav {
  align-items: center;
  width: 80%;

  .md-nav {
    width: calc(100% - 15rem);
  }

  .md-nav-list {
    align-items: center;
  }

  .md-nav-item {
    flex: 1;
  }

  .md-nav-link {
    display: block;
    position: relative;

    &.isFocused {
      &::before {
        background-color: #b898ff;
        bottom: -1.8rem;
        content: '';
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  .md-nav-name {
    color: $base-bl;
    display: block;
    font-family: $base-fontFamily;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    margin: 1rem 0 0;
    text-align: center;
  }
}

.user-nav-wrap {
  background-color: $base-wh;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  display: inline-block;
  opacity: 0;
  right: 0;
  top: -30rem;
  transition: all .5s ease-out;

  &.is-open {
    opacity: 1;
    top: 6rem;
    transition: all .5s ease-out;
  }

  .user-nav-inner {
    padding: 2rem 0;
  }

  .user-name {
    font-family: $base-fontFamily;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 2rem 1.5rem;
  }

  .user-nav-list {
    border-top: 1px solid #d1d1d1;
    padding-top: 1.5rem;
    width: 100%;
  }

  .user-nav-link {
    display: block;
    padding: .8rem 7rem .8rem 2.8rem;
    transition: all .3s ease-out;

    &:hover {
      background-color: #f5f5f5;
      transition: all .3s ease-in-out;
    }

    .user-nav-name {
      color: $base-bl;
      font-family: $base-fontFamily;
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
}
