.md-img {
  max-width: 100%;
  width: 100%;
}

.md-img-logo {
  width: 14rem;
}

.md-icon {
  display: inline-block;
  vertical-align: middle;
}

.md-icon-signin {
  margin: 0 1rem 0 0;
  width: 1.8rem;
}

.md-icon-user {
  margin: 0 1rem 0 0;
  width: 1.8rem;
}

.md-icon-cloud {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 6rem;
}

.fa-google {
  color: #db4437;
  display: inline-block;
  margin: 0 1rem 0 0;
  vertical-align: middle;
}

.fa-exclamation-triangle {
  display: inline-block;
  margin: 0 1rem 0 0;
  vertical-align: middle;
}

.md-icon-edit {
  margin: 0 1rem 0 0;
  width: 1.5rem;
}

.md-icon-view {
  margin: 0 1rem 0 0;
  width: 1.5rem;
}

.md-icon-angle {
  width: 5rem;
}

.md-icon-plus {
  width: 1.9rem;
}

.md-icon-minus {
  width: 1.9rem;
}

.md-icon-tasks {
  margin: 0 1rem 0 0;
  width: 2.7rem;
}

.md-icon-actionBadge,
.md-icon-taskBadge,
.md-icon-nextActBadge {
  width: 4rem;
}

.md-icon-weather {
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 16rem;
}

.md-icon-checkbox {
  position: relative;
  line-height: 1;
  margin: -.5px 1rem 0 0;

  &::before {
    content: "\f0c8";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    color: #F27E7C;
    font-size: 1.7rem;
  }
}

.md-icon-set {
  margin: 0 1rem 0 0;
  width: 2rem;
}

.md-icon-complete {
  margin: 0 1rem 0 0;
  width: 2rem;
}
