.report-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reports-item {
  margin-bottom: 2rem;
  width: 40%;
}

.reports-wrap {
  background-color: #F0F1F4;
  border-radius: 5px;
  padding: 2rem;
}

.reports-panel-left {
  border-bottom: 2px solid $base-wh;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
}

.reports-panel-right {
  padding-top: 2rem;
  width: 100%;
}

.report-date {
  font-family: $work;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.report-task-wrap {
  width: 100%;
}

.report-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 0;
  width: 100%;
}

.report-btn-wrap {
  text-align: center;
  width: auto;

  .md-btn--style03 {
    margin: 0 2rem 0 0 !important;

    &:nth-last-of-type(1) {
      margin: 0 !important;
    }
  }
}

.md-tasks-title {
  border-left: 5px solid #1d005d;
  font-size: 2rem;
  padding: .4rem .8rem;
  text-align: left;
}

.report-task-list {
  margin: 2rem 0 0;
  width: 100%;

  .report-task-item {
    color: $base-bl;
    font-family: $base-fontFamily;
    font-size: 1.4rem;
    margin: 1.5rem 0 0;
    padding-left: 2rem;
    position: relative;
    text-align: left;

    &:nth-of-type(1) {
      margin: 0;
    }

    &::before {
      background-color: #f27e7c;
      border-radius: 50%;
      content: '';
      display: block;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 1rem;
    }
  }
}

.report-detail-item {
  flex: 1;

  &:nth-of-type(1) {
    margin: 0;
  }

  .md-title-small {
    color: #a6b1c9;
    font-family: $base-fontFamily;
    font-size: 1.4rem;
    text-align: center !important;
  }

  .report-detail-box {
    margin: 2rem 0 0;
    position: relative;
    display: inline-block;

    .md-num {
      position: absolute;
      top: -.5rem;
      left: -.5rem;
    }
  }
}
