.md-title {
  color: $base-bl;
  font-family: $base-fontFamily;
  font-weight: bold;
}

.md-title-h2 {
  font-size: 4rem;
}

.md-title-h2--small {
  color: $base-wh;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.md-title-h3 {
  font-size: 2.6rem;
  text-align: left;
}

.md-title-h4 {
  font-size: 2rem;
  text-align: left;
}

.md-title-h5 {
  font-size: 1.8rem;
  text-align: left;
}

.md-text {
  color: $base-bl;
  font-family: $base-fontFamily;
  line-height: 1.6;
}

.md-text--small {
  font-size: 1.25rem;
}

.err-msg {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 3px;
  bottom: 0;
  color: #721c24;
  display: inline-block;
  font-size: 1.4rem;
  left: 50%;
  opacity: 0;
  padding: 1rem 1.6rem;
  position: absolute;
  text-align: left;
  transform: translate(-50%, 0);
  transition: all .3s ease-out;
  width: 540px;

  .err-text {
    display: block;
  }
}

.success-text {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 3px;
  bottom: 0;
  color: #155724;
  display: inline-block;
  font-size: 1.4rem;
  left: 50%;
  opacity: 0;
  padding: 1rem 1.6rem;
  position: absolute;
  text-align: left;
  transform: translate(-50%, 0);
  transition: all .3s ease-out;
  width: 540px;

  .success-inlineText {
    display: block;
  }
}

.md-link {
  color: $base-pu;
  font-family: $base-fontFamily;
  text-decoration: underline;
}

.md-btn-name {
  color: $base-wh;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  vertical-align: middle;
}

.main-desc {
  font-size: 1.4rem;
}

.md-num {
  color: $base-wh;
  font-family: $work;
}

.md-num--style01 {
  background-color: $base-pu;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  font-size: 1.2rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  width: 2.4rem;
}

.md-profile-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 2rem;
}
