.md-title {
  color: $base-bl;
  font-family: $base-fontFamily;
  font-weight: bold;
}

.md-title-h2 {
  font-size: 4rem;
}

.md-title-h2--small {
  color: $base-wh;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.md-title-h3 {
  font-size: 2.6rem;
  text-align: left;
}

.md-title-h4 {
  font-size: 2rem;
  text-align: left;
}

.md-title-h5 {
  font-size: 1.8rem;
  text-align: left;
}

.md-text {
  color: $base-bl;
  font-family: $base-fontFamily;
  line-height: 1.6;
}

.md-text--small {
  font-size: 1.25rem;
}

.err-msg {
  background-color: #f2cdcd;
  border: 1px solid #d32f2f;
  border-radius: 3px;
  display: none;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  text-align: left;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
}

.md-link {
  color: $base-pu;
  font-family: $base-fontFamily;
  text-decoration: underline;
}

.md-btn-name {
  color: $base-wh;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  vertical-align: middle;
}

.main-desc {
  font-size: 1.4rem;
}

.md-num {
  color: $base-wh;
  font-family: $work;
}

.md-num--style01 {
  background-color: $base-pu;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  font-size: 1.2rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  width: 2.4rem;
}
