.signin-section {
  .main-desc {
    margin: 3rem 0 0;
  }

  .signin-form {
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 500px;
    text-align: center;
    width: 100%;

    .md-btn--styleGoogle {
      margin: 1.5rem 0 0;
    }
  }
}
